@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0;
  background: #eeeeee;
}

/* ::selection {
  background: blue;
} */

::-webkit-scrollbar {
  height: 12px;
  width: 6px;
  background: rgb(199, 199, 199);
}

::-webkit-scrollbar-thumb {
  background: black;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgb(199, 199, 199);
}
